<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<ul>
		<li th:each="user: ${users}">
			<span th:text="${user.username}"></span>
			<span th:text="${user.email}"></span>
		</li>
	</ul>
</body>
</html>